/* .stepper>.css-n7tliy-MuiStep-root{
    padding-right:17px !important
} */
/* .stepper>.css-n7tliy-MuiStep-root>.css-zpcwqm-MuiStepConnector-root{ */
    /* width:254px !important;
    background-color: black !important;
    /* left: calc(-54% + 20px) !important; */
    /* left: calc(-51% + 20px) !important;
    right: calc(52% + 20px) !important; */ 
/* } */