/* #app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
} 

/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

/* .swiper {
  width: 100%;
  height: 100%;
} */

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff; */

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/* .mySwiper{
    background-color: red;
} */
.mySwiper2{
    height: 368px !important;
}
.mySwiper2>.swiper-pagination{
    /* text-align: start !important; */
    /* width: 50% !important; */
    /* padding-left: 53px !important;  */
    top: 337px !important;
}
.swiper-pagination-bullet{
    background-color: #E0E0E0 !important;
    opacity: 10 !important;
}
.swiper-pagination-bullet-active{
    background-color: #CB929B !important;
}
.mySwiper2>.swiper-button-next:after, .mySwiper2>.swiper-button-prev:after{
    font-size: 15px !important;
    color: #E0E0E0 !important;
    opacity: 10 !important;
}
.mySwiper2>.swiper-button-next, .mySwiper2>.swiper-button-prev {
    top: 350px !important;
}
.mySwiper2>.swiper-button-prev{
    left: 13px !important;
    z-index: 100 !important;
}
.mySwiper2>.swiper-button-next{
    z-index: 100 !important;
    /* left: 125px !important; */

}
/* .swiper-button-next{
    left: 100px !important;
} */
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
   
    /* margin-bottom: -20px !important; */
    /* overflow: inherit; */
}
/* .z{
    background-color: aquamarine !important;
} */